<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <% application_name = ShopifyApp.configuration.application_name %>
    <title><%= application_name %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application' %>
    <%= action_cable_meta_tag %>
    <% if ShopifyApp.use_webpacker? %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% elsif ShopifyApp.use_importmap? %>
      <%= javascript_importmap_tags %>
    <% else %>
      <%= javascript_include_tag 'application', "data-turbolinks-track" => true %>
    <% end %>
    <meta name="shopify-api-key" content="<%= ShopifyApp.configuration.api_key %>">
    <meta name="shopify-client-id" content="<%= ShopifyApp.configuration.api_key %>">
    <script src="https://cdn.shopify.com/shopifycloud/app-bridge.js" nonce="<%= request.content_security_policy_nonce %>"></script>
    <script>
      (async () => {
        const shop = await shopify.config.shop;
        console.log(shop);
        const locale = await shopify.config.locale;
        console.log(locale);
      })();
    </script>
    <% if Rails.env.development? %>
      <script type="module" src="./dev_embed.js"></script>
    <% end %>
    <script>
      var reportedTime = new Date().getTime();
      window.yieldStartTime = reportedTime;
      console.log("'layouts/embedded_app' yield to 'home/index' started at: " + new Date(reportedTime).toISOString());
    </script>
  </head>
  <body>
    <%= turbo_stream_from "toy-#{@shop_origin}" %>
    <div>
      <%= yield %>
    </div>
    <%= content_tag(:div, nil, id: 'shopify-app-init', data: {
      api_key: ShopifyApp.configuration.api_key,
      shop_origin: @shop_origin || (@current_shopify_session.shop if @current_shopify_session),
      host: @host,
      debug: Rails.env.development?
    } ) %>

    <% if content_for?(:javascript) %>
      <div id="ContentForJavascript" data-turbolinks-temporary>
        <%= yield :javascript %>
      </div>
    <% end %>
  </body>
</html>
